<section class="cart py-16">
  <div class="order-container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/image/cart-black.png" alt="">
      <h1 class="font-bold ml-4 text-2xl">Order summary </h1>
    </div>
    <div class="pizza-list">
      <% for(let pizza of Object.values(session.cart.items)){%>
      
        <div class="flex items-center my-8">
        <img class="w-24" src="/image/<%=pizza.items.image%>" alt="">
        <div class=" flex-1 ml-4">
         <h1><%=pizza.items.name%></h1>
         <span><%=pizza.items.size%></span>
        </div>
        <span class="flex-1"><%=pizza.qty%></span>
        <span class="font-bold text-lg">₹ <%=pizza.items.price*pizza.qty%></span>
     </div>

      <%}%>
   <hr>
   <div class="text-right">
     <div>
       <span class="text-lg font-bold">Total Amount :</span>
       <span class="amount text-2xl font-bold ml-2">₹</span>
     </div>
     <div>
       <form action="">
		<input type="text" class="border border-gray-400 p-2 w-1/2 mb-4" placeholder="Phone number">
		<input type="text" class="border border-gray-400 p-2 w-1/2" placeholder="Address">
		<div><button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Order now</button></div>
	   </form>
    </div>
    <a href="" class="inline-block cursor-pointer px-6 btn-primary  py-2 rounded-full text-white font-bold mt-6">Login to continue.</a>
   </div>


    </div>

  </div>

</section>

